*{
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 1.563rem 2.5rem 1.563rem 3.125rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    z-index: 1000;
    border-bottom: 1px solid #E2E2E2;
}

ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style: none;
    text-decoration: none;
}

ul li a {
    color: #E2E2E2;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #E2E2E2;
    cursor: pointer;
}

h1 {
    color: #E2E2E2;
    font-size: 4.8rem;
    line-height: 1.2;
    margin: 2rem;
    text-align: center;
}

.berkenDev {
    color: #f7df1e;
    font-size: 1.5rem;
}

span {
    color: #E2E2E2;
    font-size: 2rem;
}

.mySkills {
    color: #E2E2E2;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mySkills p {
    text-decoration: underline;
}

.skillLogos {
    gap: 3rem;
    padding: 0;
}

.desktopMenu {
    display: none;
}

#burgerCloseIcon {
    display: none;
}

#burgerMenu {
    display: flex;
    justify-content: center;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 1rem 0;
    z-index: 999;
    text-align: center;
}

.fixMe {
    display: flex;
    flex-direction: column;
}

.mainSection {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 8rem; 
}

.aboutMe p {
    margin: 2rem;
    color: #E2E2E2;
    text-align: center;
    font-size: 2rem;
}

.fa-face-smile:before {
    margin-left: 0.5rem;
}

.centerGitLink {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
}

.mePicture img {
    animation: zoomInOut 5s infinite;
    width: 15rem;
    height: 15rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 20rem;
    position: relative;
    margin-top: 4rem;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.contentContainer {
    display: flex;
    justify-content: center;
}

.mainSection {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}

.mePicture {
    display: flex;
    justify-content: center;
}

.about {
    padding: 3rem 0;
}

.knowMe {
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    padding-top: 2rem;
}

.picturePc {
    display: flex;
    justify-content: center;
}

.picturePc img { 
    width: 80%;
    border-radius: 2rem;
    height: auto;
    margin-top: 2rem;
}

.textMe {
    color: #E2E2E2;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textMe img {
    width: 6%;
    margin-left: 0.5rem;
}

.textMe h1 {
    color: #E2E2E2;
    text-align: center;
}

.textMe h4 {
    margin: 0;
    text-align: center;
    color: #f7df1e;
}

.textMe p {
    text-align: center;
    margin: 1rem;
    padding-bottom: 2rem;
}

.myProjects {
    overflow: hidden;
    max-width: 100%;
}

.myProjects h1 {
    margin: 2rem 0 3rem 0;
}

.videoDiv {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
    border-bottom: 1px solid #E2E2E2;
}

.videoDiv img {
    width: 85%;
}

#videoPlayer {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.aboutTechTips {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}

.aboutTechTips img {
    width: 16%;
    height: 40%;
}

.aboutTechTips h2 {
    color: #f7df1e;
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
}

.centerText {
    display: flex;
    color: #E2E2E2;
    text-align: center;
    margin: 1rem;
    width: 76%;
    font-size: 1.7rem;
}

.repoDemo {
    display: flex;
    padding: 0;
}

.repoDemo a {
    font-size: 2.6rem;
    color: #f7df1e;
}

.contactBox {
    display: flex;
    flex-direction: column;
}

.contactTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactTitle h3 {
    color: #E2E2E2;
    font-size: 3rem;
    margin: 0;
}

.contactTitle p {
    color: #f7df1e;
    font-size: 1.7rem;
    text-align: center;
    margin: 2rem 1rem 2rem 1rem;
}

.centerContact {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.footerContainer {
    display: flex;
    align-items: center;
    color: #E2E2E2;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1rem;
    border-top: 1px solid #E2E2E2;
}
